fastapi
uvicorn

streamlit

pinecone
pinecone-client

groq
langchain
langchain-groq
pinecone-client

sentence-transformers

google-cloud-speech
google-cloud-texttospeech


python-dotenv
requests
pytest
httpx