fastapi
uvicorn

pinecone
pinecone-client

groq
langchain
langchain-groq
langchain-pinecone
pinecone-client

python-multipart
sentence-transformers

gtts
openai-whisper

pydantic
pydantic-settings
python-dotenv
requests
pytest
httpx
soundfile
sounddevice